.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    gap: 20px;
    color: white;
}

.logo {
    font-size: 30px;
}

.search {
    padding: 12px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    color: white;
}